@model VirtualAquariumManager.Models.MaintenanceTask

@{
    ViewData["Title"] = "Create a Maintenance Task";
}

<div class="form-container">
    <div class="card-header">
        <h2>Create Maintenance Task</h2>
    </div>

    <form asp-action="Create" class="form-grid">
        <div asp-validation-summary="ModelOnly" class="text-danger grid-full"></div>

        <div class="form-field">
            <label asp-for="Type"></label>
            <select asp-for="Type"
                    class="form-control"
                    asp-items="Html.GetEnumSelectList<MaintenanceType>()"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="PerformedOn">Performed On</label>
            <input asp-for="PerformedOn" type="date" class="form-control" />
            <span asp-validation-for="PerformedOn" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="DueDate"></label>
            <input asp-for="DueDate" type="date" class="form-control" />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="IsCompleted"></label>
            <input asp-for="IsCompleted" type="checkbox" class="form-check-input" />
            <span asp-validation-for="IsCompleted" class="text-danger"></span>
        </div>

        <input asp-for="TankId" type="hidden" />

        <!-- Create or Cancel -->
        <div class="form-actions grid-full">
            <button type="submit" class="btn btn-blue">Create</button>
            <a asp-action="Index" class="btn btn-red">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
