@model VirtualAquariumManager.Models.MaintenanceTask

@{
    ViewData["Title"] = "Edit";
}

<div class="form-container">
    <div class="card-header">
        <h2>Edit Maintenance Task</h2>
    </div>

    <form asp-action="Edit" class="form-grid">
        <div asp-validation-summary="ModelOnly" class="text-danger grid-full"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="TankId" />

        <div class="form-field">
            <label asp-for="Type"></label>
            <select asp-for="Type"
                    class="form-control"
                    asp-items="Html.GetEnumSelectList<MaintenanceType>()"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="PerformedOn" class="control-label"></label>
            <input asp-for="PerformedOn" type="date" class="form-control" />
            <span asp-validation-for="PerformedOn" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="DueDate" class="control-label"></label>
            <input asp-for="DueDate" type="date" class="form-control" />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>

        <div class="form-field form-check">
            <input class="form-check-input" asp-for="IsCompleted" />
            <label class="form-check-label" asp-for="IsCompleted"></label>
            <span asp-validation-for="IsCompleted" class="text-danger"></span>
        </div>

        <div class="form-actions grid-full">
            <button type="submit" value="Edit" class="btn btn-blue">Edit</button>
            <a asp-action="Index" asp-route-TankId="@Model?.TankId" class="btn btn-red">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
