@model VirtualAquariumManager.ViewModels.TankWaterQualityData

@{
    ViewData["Title"] = "Edit";
}

<div class="form-container">
    <div class="card-header">
        <h2>Edit Tank</h2>
    </div>

    <form asp-action="Edit" class="form-grid">
        <div asp-validation-summary="ModelOnly" class="text-danger grid-full"></div>

        <input type="hidden" asp-for="TankId" />

        <!-- Tank fields -->
        <div class="form-field">
            <label asp-for="Shape" class="control-label"></label>
            <input asp-for="Shape" class="form-control" />
            <span asp-validation-for="Shape" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="Size" class="control-label"></label>
            <input asp-for="Size" type="number" step="any" class="form-control" />
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>

        <!-- WaterQuality fields -->
        <h4 class="grid-full">Initial Water Quality</h4>

        <input type="hidden" asp-for="WaterQuality.Id" />
        <div class="form-field">
            <label asp-for="PhLevel"></label>
            <input asp-for="PhLevel" type="number" step="any" class="form-control" />
            <span asp-validation-for="PhLevel" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="Temperature"></label>
            <input asp-for="Temperature" type="text" class="form-control" />
            <span asp-validation-for="Temperature" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="AmmoniaLevel"></label>
            <input asp-for="AmmoniaLevel" type="text" class="form-control" />
            <span asp-validation-for="AmmoniaLevel" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="WaterType"></label>
            <input asp-for="WaterType" type="text" class="form-control" />
            <span asp-validation-for="WaterType" class="text-danger"></span>
        </div>

        <!-- Edit or Cancel -->
        <div class="form-actions grid-full">
            <button type="submit" value="Edit" class="btn btn-blue">Edit</button>
            <a asp-action="Index" class="btn btn-red">Cancel</a>
        </div>

    </form>
</div>