@model VirtualAquariumManager.Models.Fish

@{
    ViewData["Title"] = "Import a Fish";
}


<div class="form-container">
    <div class="card-header">
        <h2>Create New Fish</h2>
    </div>

    <form asp-action="Create" class="form-grid">
        <div asp-validation-summary="ModelOnly" class="text-danger grid-full"></div>

        <div class="form-field">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="e.g. Bubbles, Sunny" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="SubSpecies"></label>
            <input asp-for="SubSpecies" class="form-control" placeholder="e.g. Tuna, Gold fish" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="LifeSpan">LifeSpan (Years)</label>
            <input asp-for="LifeSpan" type="number" step="any" class="form-control" placeholder="e.g. 10" />
            <span asp-validation-for="LifeSpan" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="ImportedDate"></label>
            <input asp-for="ImportedDate"
                   type="date"
                   class="form-control" />
            <span asp-validation-for="ImportedDate" class="text-danger"></span>
        </div>

        <input asp-for="TankId" type="hidden" />

        <!-- Create or Cancel -->
        <div class="form-actions grid-full">
            <button type="submit" class="btn btn-blue">Create</button>
            <a asp-action="Index" asp-route-TankId="@Model.TankId" class="btn btn-red">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}