@model VirtualAquariumManager.Models.Fish

@{
    ViewData["Title"] = "Delete";
}

<div class="form-container">
    <div class="card-header">
        <h2>Delete Fish</h2>
    </div>

    <form asp-action="Delete" class="form-grid">
        <input type="hidden" asp-for="Id" />
        <input asp-for="TankId" type="hidden" />

        <div class="form-field">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" readonly class="form-control" />
        </div>

        <div class="form-field">
            <label asp-for="Species" class="control-label"></label>
            <input asp-for="Species" readonly class="form-control" />
        </div>

        <div class="form-field">
            <label asp-for="LifeSpan" class="control-label"></label>
            <input asp-for="LifeSpan" readonly class="form-control" />
        </div>

        <div class="form-actions grid-full">
            <button type="submit" class="btn btn-red">Delete</button>
            <a asp-action="Index" asp-route-TankId="@Model.TankId" class="btn btn-blue">Cancel</a>
        </div>
    </form>
</div>