@model VirtualAquariumManager.Models.Fish

@{
    ViewData["Title"] = "Edit";
}


<div class="form-container">
    <div class="card-header">
        <h2>Edit Fish Information</h2>
    </div>

    <form asp-action="Edit" class="form-grid">
        <div asp-validation-summary="ModelOnly" class="text-danger grid-full"></div>

        <input type="hidden" asp-for="Id" />

        <div class="form-field">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="SubSpecies" class="control-label"></label>
            <input asp-for="SubSpecies" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="LifeSpan" class="control-label"></label>
            <input asp-for="LifeSpan" type="number" step="any" class="form-control" />
            <span asp-validation-for="LifeSpan" class="text-danger"></span>
        </div>

        <div class="form-field">
            <label asp-for="ImportedDate"></label>
            <input asp-for="ImportedDate" type="date" class="form-control" />
            <span asp-validation-for="ImportedDate" class="text-danger"></span>
        </div>

        <input asp-for="TankId" type="hidden" />

        <!-- Edit or Cancel -->
        <div class="form-actions grid-full">
            <button type="submit" value="Edit" class="btn btn-blue">Edit</button>
            <a asp-action="Index" asp-route-TankId="@Model?.TankId" class="btn btn-red">Cancel</a>
        </div>

    </form>
</div>